
<div class="flex flex-col items-center justify-center mt-24">

  <!-- Header Text -->
  <h1 class="text-6xl text-center font-bold">Find Your Next Book</h1>

  <hr>
  <!-- Subtext -->
  <h2 class="text-xl mt-4 text-center">Delivers book recommendations using your recent X bookmarks, liked posts, and the largest accounts you follow.</h2>

  <div class="mt-8">
  <ul>
    <li class="flex items-center mb-2 pt-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
      </svg> Pay Once, use forever
    </li>
    <li class="flex items-center mb-2 pt-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
    </svg><span class="text-md">Get book recommendations in one click</span>
  </li>
  <li class="flex items-center mb-2 pt-4">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
  </svg> The more you use the better the recommendations
</li>
  <ul>
  </div>


  <!-- Call to Action Button -->

  <% unless @current_user %>
  <%= link_to '/auth/twitter2', class: "mt-6 bg-blue-600 hover:bg-blue-300 text-white font-semibold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105  ", target: "_blank", role: "button", aria_expanded: "false", aria_haspopup: "true" do %>
    <span class="ml-2 mr-2 text-white font-bold">Get Started</span>
  <% end %>
  <% end %>
</div>


<div class="sm:pt-16 lg:pt-20">
  <div class="pt-20 pb-20 bg-white mx-auto col">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl">Why Most People Stop Reading</h2>
      <p class="mt-4 text-xl text-gray-600">The best way to keep a reading habit is to have a list of books lined up.</p>
    </div>

    <!-- Add an outer container for spacing -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
      <!-- Three Column Section -->
      <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Column 1 -->
        <div class="">
          <h3 class="text-xl font-semibold text-gray-800">Like and Bookmarks Your Posts</h3>
          <p class="mt-4 text-base text-gray-600">
            Use X regularly by liking and bookmarkings posts 
          </p>
        </div>

        <!-- Column 2 -->
        <div class="">
          <h3 class="text-xl font-semibold text-gray-800">Analyze Your Activity</h3>
          <p class="mt-4 text-base text-gray-600">
             We will analyze your recent activity and use AI to recommend relevant books
          </p>
        </div>

        <!-- Column 3 -->
        <div class="">
          <h3 class="text-xl font-semibold text-gray-800">Get New Book Ideas</h3>
          <p class="mt-4 text-base text-gray-600">
            Receive weekly email of new books or login to generate new books.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



  <div id="pricing" class="pb-10 pt-12 sm:pt-16 lg:pt-20">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl">Pay Once, Use Forever</h2>
        <p class="mt-4 text-xl text-gray-600">The best book recomnendation engine for X Power Users</p>
      </div>
    </div>


  <div class="mt-12 w-full mx-auto max-w-sm flex items-center justify-center bg-white rounded-lg overflow-hidden shadow-lg">
  <div class="px-6 py-8">
    <div class="text-3xl font-bold text-gray-800 mb-4">$19<span class="text-lg font-normal text-gray-600"> forever</span></div>
    <ul class="text-gray-600">
      <li class="flex items-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Generate unlimited book recommnendations
      </li>
      <li class="flex items-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Receive new books every week
      </li>
      <li class="flex items-center mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Cureate books based on your feedback
      </li>
    </ul>
    <button class="mt-6 bg-blue-600 hover:bg-blue-300 text-white font-semibold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105">
      Get Started
    </button>
  </div>
</div>


